{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div id="side_left" class="side">
	            <!-- ▼搜索商品 -->
	            <div class="drawer_block pc header_bottom_area">
				    <div id="search" class="search">
						<p class="search_title">SEARCH</p>
						    <form method="get" id="searchform" action="/products/list">
							    <div class="input_search clearfix">
							        <input type="search" id="name" name="name" maxlength="50" class="form-control" placeholder="搜索"/>
							        <button type="submit" class="bt_search"><svg class="cb cb-search"><img src="{{ asset('assets/img/top/search.png') }}" style="margin-left: -35px;"/></svg></button>
							    </div>
						    </form>
				    </div>
				</div>
	            <nav id="cgr" class="pc">
				    <p class="category_title">CATEGORY</p>
				    <ul class="category-nav">
				        <li class="parent catid">
				            <a href="products/list?orderby=2">新！新到货产品 </a>
				        </li>
				        <li class="parent catid">
				            <a href="products/list?orderby=2">Microsoft Office</a>
				        </li>
				        <li class="parent catid">
				        	<a href="">Microsoft Windows</a>
				        </li>      
				    </ul>                
				</nav>
	            <div id="blogFeed" class="scdBox   visible-pc">
	        		<p class="feed_title">BLOG</p>
		            <article>
		               <a href="">
		                <p>更改Office,<br />2019 2019-03-25 的产品密钥</p></a>
		            </article>
					<article>
		               <a href="">
		                <p>如何以最低的价格购买Office 2019！价<br />格绝对优惠2019-03-22</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>Office 2019和Office 2016！在<br />购买新的2019-03-20 之前需要了解的五点</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>最新Microsoft Office（Office 2019）的介绍<br/>类型和价格摘要！<br />2019年3月16日</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>如何使用具有多个帐户的Office许可证（对于<br/>一个用户）<br/>2019-03-14</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>[Windows 10对应]在不知道商品密钥的时候<br />确认的方法<br />2019-03-13</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>Microsoft日本于2019年1月<br />18日发布了用于家用的Office 2019<br/>2019-03-04</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>Microsoft 日本<br />2019 <br />年1月18日2020 -03- 03-04 Office 已完成</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>Windows Update卡死解决办法<br>2019-01-08</p></a>
		            </article>
		          	<article>
		               <a href="">
		                <p>Windows 10软件包版本，DSP版本，OEM版<br/>本价格以及如何选择<br />2019-01-08</p></a>
		            </article>
	                <a href=""><span style="font-size:12px;color:#525263; float:right; margin-right:5px;">更多>><img src="./template/default/img/top/lb1jiantou.jpg" alt="office新着情報一覧" data-pagespeed-url-hash="3521598492" /></span></a>
	            </div>
	        </div>
