{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'shop_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>
                            塚本貿易ラボ
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>
                           ツカモト カズマ
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">住所</label>
                        </dt>
                        <dd>
〒3300805　埼玉県さいたま市大宮区寿能町3丁目221番3号
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:">info@offisu-soft.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">ホームページ</label>
                        </dt>
                        <dd><a href="">http://offisu-soft.com/
</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>
                            銀行振込手数料
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">注文方法</label>
                        </dt>
                        <dd>１、インターネット
2.見積もり/購入(メールでお問い合わせください)
見積もりデータを受信後、1-2営業日で見積もり(PDFファイル)をメール添付で送ります。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>銀行振込 （前払い）</dd>
                    </dl>
                                        <dl>
                        <dt>
                            <label class="ec-label">支払期限</label>
                        </dt>
                        <dd>7日以内にお願いいたします。7日間入金がない場合はキャンセルとさせていただきます。</dd>
                    </dl>
                                        <dl>
                        <dt>
                            <label class="ec-label">引渡し時期</label>
                        </dt>
                        <dd>【ダウンロード版】 代金決済完了後、翌営業日以内にダウンロード方法をメールでお知らせします。メール受信後14日以内にダウンロードしてください。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>プロダクトキーは未使用（Microsoft アカウント登録してない場合）返品と返金いたします。
製品購入後、60日以内であれば返金可能です。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}