{# This file is part of EC-CUBE Copyright(c) LOCKON CO.,LTD. All Rights
Reserved. http://www.lockon.co.jp/ For the full copyright and license
information, please view the LICENSE file that was distributed with this
source code. #} {% extends 'guid_frame.twig' %} {% set posts =
getGuids() %} {% block main %}
<section class="single_blog_area">
	<div class="container">
		<div class="row justify-content-center">
			<!-- ****** Blog Sidebar ****** -->
			<div class="col-10 col-lg-2 col-md-2">
				<div class="sidemenu_wrap P005_00">
					<div class="parent expand menu_id_0">ご利用ガイド</div>
					<ul class="children">

						<li class="child menu_id_2 "><a href="/guide/description"
							title="注文方法のご案内">注文方法のご案内</a></li>
						<li class="child menu_id_3 "><a href="/guide/delivery"
							title="お支払い方法・送料・手数料・お届けについて">お支払い方法・送料・手数料・お届けについて</a></li>
						<li class="child menu_id_5 "><a href="/guide/cancel"
							class="active" title="注文取消し・返品について">注文取消し・返品について</a></li>
						<li class="child menu_id_6 "><a href="/guide/discount"
							title="ポイント・クーポンについて">ポイント・クーポンについて</a></li>
						<li class="child menu_id_4 "><a href="#"
							title="よくあるご質問">よくあるご質問</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-10 col-md-10">
				<div class="ec-pageHeader">
					<h1 class="title_top"
						style="padding-left: 45px; font-size: 20px; border-bottom: none; padding-bottom: 8px;">注文取消し・返品について</h1>
				</div>
				<div class="ec-off1Grid">
					<div class="ec-off1Grid__cell">


                                          <p>
    <strong>ご注文の取り消しについて</strong>
</p>
<p>
    製品購入後、プロダクトキーは未使用の場合（Microsoft アカウント登録してない）返品と返金いたします。60日以内であれば返金可能です。
</p>
<p>
    <strong>返金について</strong>
</p>
<p>
    口座振込みにて返金致します。現金書留での返金には対応しておりません。
</p>
<p>
    <strong>商品お取替えの場合のお支払いについて</strong>
</p>
<p>
    返品となった商品の全額を返金し、交換される商品の全額をご請求させて頂きます。
</p>
<p>
    交換される商品の差額を返金することはできません。
</p>
<p>
    <br/>
</p>
						


					</div>
					
				</div>

			</div>

		</div>
	</div>
</section>


{% endblock %}

