{# This file is part of EC-CUBE Copyright(c) LOCKON CO.,LTD. All Rights
Reserved. http://www.lockon.co.jp/ For the full copyright and license
information, please view the LICENSE file that was distributed with this
source code. #} {% extends 'guid_frame.twig' %} {% set posts =
getGuids() %} {% block main %}
<section class="single_blog_area">
	<div class="container">
		<div class="row justify-content-center">
			<!-- ****** Blog Sidebar ****** -->
			<div class="col-10 col-lg-2 col-md-2">
				<div class="sidemenu_wrap P005_00">
					<div class="parent expand menu_id_0">ご利用ガイド</div>
					<ul class="children">

						<li class="child menu_id_2 "><a href="/guide/description"
							title="注文方法のご案内">注文方法のご案内</a></li>
						<li class="child menu_id_3 "><a href="/guide/delivery"
							class="active" title="お支払い方法・送料・手数料・お届けについて">お支払い方法・送料・手数料・お届けについて</a></li>
						<li class="child menu_id_5 "><a href="/guide/cancel"
							title="注文取消し・返品について">注文取消し・返品について</a></li>
						<li class="child menu_id_6 "><a href="/guide/discount"
							title="ポイント・クーポンについて">ポイント・クーポンについて</a></li>
						<li class="child menu_id_4 "><a href="#"
							title="よくあるご質問">よくあるご質問</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-10 col-md-10">
				<div class="ec-pageHeader">
					<h1 class="title_top"
						style="padding-left: 45px; font-size: 20px; border-bottom: none; padding-bottom: 8px;">お支払い方法・送料・手数料・お届けについて</h1>
				</div>
				<div class="ec-off1Grid">
					<div class="ec-off1Grid__cell">

                                         
<p>
    <strong>お支払い方法</strong>
</p>
<p>
    表記の価格は消費税込となっております。
</p>
<p>
    銀行振り込みです。
</p>
<p>
    <strong>振込名義について</strong>
</p>
<p>
    ご注文名義（組織の場合は組織名 または ご登録担当者名）でお振込みください。
</p>
<p>
    お振込み名義がご注文名義と異なる場合は、お振込み名義の前に注文番号をご入力ください。
</p>
<p>
    （例：<span style=";font-family:等线">NNN00000 </span>サクラタロウ）
</p>
<p>
    <strong>送料について</strong>
</p>
<p>
    送料無料です。
</p>
<p>
    <strong>お届けについて</strong>
</p>
<p>
    ご注文確認後、通常24時間以内に発送いたします。 メールを受け取っていない場合はメールでお問合せ窓口あてにご連絡お願いいたします。
</p>
<p>
    <br/>
</p>


					</div>
				</div>

			</div>

		</div>
	</div>
</section>


{% endblock %}

