{# This file is part of EC-CUBE Copyright(c) LOCKON CO.,LTD. All Rights
Reserved. http://www.lockon.co.jp/ For the full copyright and license
information, please view the LICENSE file that was distributed with this
source code. #} {% extends 'guid_frame.twig' %} {% set posts =
getGuids() %} {% block main %}
<section class="single_blog_area">
	<div class="container">
		<div class="row justify-content-center">
			<!-- ****** Blog Sidebar ****** -->
			<div class="col-10 col-lg-2 col-md-2">
				<div class="sidemenu_wrap P005_00">
					<div class="parent expand menu_id_0">ご利用ガイド</div>
					<ul class="children">

						<li class="child menu_id_2 "><a href="/guide/description"
							class="active" title="注文方法のご案内">注文方法のご案内</a></li>
						<li class="child menu_id_3 "><a href="/guide/delivery"
							title="お支払い方法・送料・手数料・お届けについて">お支払い方法・送料・手数料・お届けについて</a></li>
						<li class="child menu_id_5 "><a href="/guide/cancel"
							title="注文取消し・返品について">注文取消し・返品について</a></li>
						<li class="child menu_id_6 "><a href="/guide/discount"
							title="ポイント・クーポンについて">ポイント・クーポンについて</a></li>
						<li class="child menu_id_4 "><a href="#"
							title="よくあるご質問">よくあるご質問</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-10 col-md-10">
				<div class="ec-pageHeader">
					<h1 class="title_top"
						style="padding-left: 45px; font-size: 20px; border-bottom: none; padding-bottom: 8px;">注文方法のご案内</h1>
				</div>
				<div class="ec-off1Grid">
					<div class="ec-off1Grid__cell">


<p>
    <strong>新規会員登録について</strong>
</p>
<p>
    初めてのご購入の際は会員登録をおすすめします。会員登録をしていただくことで
</p>
<p class="MsoListParagraph" style="margin-left:28px">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>2回目以降のお買い物の際に、住所入力の手間が省けます。
</p>
<p class="MsoListParagraph" style="margin-left:28px">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>自宅やお勤め先など、複数のお届け先をアドレス帳として登録いただけます。
</p>
<p class="MsoListParagraph" style="margin-left:28px">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>過去の注文履歴の確認など、ご登録情報ページ機能がお使いいただけます。
</p>
<p class="MsoListParagraph" style="margin-left:28px">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>会員の方だけの特別キャンペーンなどを実施します。
</p>
<p class="MsoListParagraph" style="margin-left:28px">
    &nbsp;
</p>
<p style="text-align:left">
    <strong>会員登録手順について</strong>
</p>
<p style="text-align:left">
    下記の流れに沿って、お進みください。
</p>
<p class="MsoListParagraph" style="margin-left:29px;text-align:left">
    １， 個人情報やメールアドレス、パスワードを登録し、利用規約の確認画面にチェックを入れて、「同意する」をクリックします。
</p>
<p class="MsoListParagraph" style="margin-left:29px;text-align:left">
    ２， ご登録いただいたメールアドレス宛に会員登録のお手続きに関するメールを送信いたします。メール内に記載されるURLにアクセス頂き、会員登録を完了させてください。
</p>
<p class="MsoListParagraph" style="margin-left:29px;text-align:left">
    ３， 会員登録が完了します。お買い物をお楽しみください。
</p>
<p style="text-align:left">
    &nbsp;
</p>
<p style="text-align:left">
    <strong>ご注文方法について</strong>
</p>
<p style="text-align:left">
    ご注文方法について説明します。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>ご希望の商品をお選びください。
</p>
<p class="MsoListParagraph" style="margin-left:28px">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>お買い上げいただく商品が決まったら、「レビュー書く」か「レビューなし」のいずれかを選んで、「カートに入れる」ボタンを押し、商品を買い物カゴに入れてください。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>数量を変更する場合には、ご希望数量を入力してください。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>カートの中身が確定したら、「レジに進む」ボタンを押してください。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>「会員のログイン」と「ゲスト購入」が表示されますので、「会員ID（メールアドレス）」「パスワード」を入力してください。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    → まだ会員でない方は「新規会員登録」ボタンを押し、まず会員登録をお願いします。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    → パスワードを忘れてしまった方は、「パスワードを忘れた方」をクリックしてください。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    →「ゲスト購入」の場合個人情報やメールアドレスを入力してください。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>ご注文者（会員の方）のお名前と住所が表示されます。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>配送方法はメールで送信します。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>お支払方法は銀行振り込みです。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>利用ポイントを入力します。
</p>
<p class="MsoListParagraph" style="margin-left:28px;text-align:left">
    <span style=";font-family:Wingdings">n<span style="font:9px &#39;Times New Roman&#39;">&nbsp; </span></span>最後に内容をご確認の上、注文を確定させてください。
</p>
<p>
    <br/>
</p>

						
					</div>
                                           
				</div>

			</div>

		</div>
	</div>
</section>


{% endblock %}

