{# This file is part of EC-CUBE Copyright(c) LOCKON CO.,LTD. All Rights
Reserved. http://www.lockon.co.jp/ For the full copyright and license
information, please view the LICENSE file that was distributed with this
source code. #} {% extends 'guid_frame.twig' %} {% set posts =
getGuids() %} {% block main %}
<section class="single_blog_area">
	<div class="container">
		<div class="row justify-content-center">
			<!-- ****** Blog Sidebar ****** -->
			<div class="col-10 col-lg-2 col-md-2">
				<div class="sidemenu_wrap P005_00">
					<div class="parent expand menu_id_0">ご利用ガイド</div>
					<ul class="children">

						<li class="child menu_id_2 "><a href="/guide/description"
							title="注文方法のご案内">注文方法のご案内</a></li>
						<li class="child menu_id_3 "><a href="/guide/delivery"
							title="お支払い方法・送料・手数料・お届けについて">お支払い方法・送料・手数料・お届けについて</a></li>
						<li class="child menu_id_5 "><a href="/guide/cancel"
							title="注文取消し・返品について">注文取消し・返品について</a></li>
						<li class="child menu_id_6 "><a href="/guide/discount"
							title="ポイント・クーポンについて">ポイント・クーポンについて</a></li>
						<li class="child menu_id_4 "><a href="/guide/qa"
							class="active" title="よくあるご質問">よくあるご質問</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-10 col-md-10">
				<div class="ec-pageHeader">
					<h1 class="title_top"
						style="padding-left: 45px; font-size: 20px; border-bottom: none; padding-bottom: 8px;">よくあるご質問</h1>
				</div>
				<div class="ec-off1Grid">
					<div class="ec-off1Grid__cell">


						<ul id="ancList">
							<li><a href="#q01">商品・特典について</a></li>
							<li><a href="#q02">ご登録情報について</a></li>
							<li><a href="#q03">注文について</a></li>
							<li><a href="#q04">頒布会について</a></li>
							<li><a href="#q05">お支払いについて</a></li>
							<li><a href="#q06">返品・交換・不良品対応について</a></li>
							<li><a href="#q07">書類発行について</a></li>
							<li><a href="#q08">その他のお問合せ</a></li>
						</ul>

						<script>
							$(function() {
								$(".ac dt").on(
										"click",
										function() {
											$(this).nextUntil("dt", "dd")
													.slideToggle();
											$(this).toggleClass("open");
										});
							});
						</script>

						<h2 id="q01">商品・特典について</h2>
						<dl class="ac">
							<dt class="open">商品の詳細を知りたい</dt>
							<dd style="display: block;">商品検索画面より、該当の商品名もしくは商品番号で検索して頂くと、商品説明文をご覧頂けます。</dd>
							<dt class="open">特典内容について知りたい</dt>
							<dd style="display: block;">商品検索画面より、該当の商品名もしくは商品番号で検索して頂くと、特典情報をご確認頂けます。ただし、各種キャンペーンは予告無く終了する場合がございます。</dd>
							<dt>商品の取扱いがあるか知りたい</dt>
							<dd>商品検索画面より、該当の商品名もしくは商品番号で検索して頂き、該当商品がなければ取扱いはございません。また、ウェブサイトにて「販売終了」となっている商品は今後、お取り扱いの予定がございません。</dd>
							<dt>ポスターなどが欲しい</dt>
							<dd>キャンペーンなどを除き、ポスター等の販促物は販売・譲渡はできかねます。何卒ご了承ください。</dd>
							<dt>DVD画質について</dt>
							<dd>
								商品によっては、古い映像素材に起因する映像のキズ、色合いの不良、音声ノイズ等がある場合もございます。あらかじめご了承ください。<br>ハイビジョンで撮影された映像は、DVDに収録できるよう変換しております。ハイビジョン画質ではありませんのでご注意ください。<br>視聴される中で気になる箇所がございましたら、受注センターまでお問い合わせください。<br>受注受付・お問合せ窓口：0120-255-288（受付時間9：00～18：00
								年末年始休業）
							</dd>
							<dt>画面サイズについて</dt>
							<dd>画面サイズは、特に記載のない場合は「16:9LB」です。</dd>
							<dt>キャラクターグッズの対象年齢表記について</dt>
							<dd>
								当社キャラクターグッズの一部に表記しております対象年齢は、各おもちゃ製造メーカーが（財）日本玩具協会より認可を受けているST（玩具安全）マーク表示に基づいています。<a
									href="http://www.toys.or.jp/jigyou_st_top.html" target="_blank">STマークについてはこちら</a>
							</dd>
						</dl>

						<h2 id="q02">ご登録情報について</h2>
						<dl class="ac">
							<dt>住所、電話番号を変更したい</dt>
							<dd>トップページ画面右上の「ご登録情報」にお入りいただき、 「会員情報のご確認・ご変更」から変更することができます。</dd>
							<dt>メールアドレスを変更したい</dt>
							<dd>
								トップページ画面右上の「ご登録情報」にお入りいただき、 「メールアドレス(会員ID)のご変更」から変更することができます。<br>
								メールアドレスはショップの会員IDとなります。確認の為、ご入力されたメールアドレス宛てにメールを送信いたしますので、メールに従ってお手続きください。
							</dd>
							<dt>パスワードを変更したい</dt>
							<dd>トップページ画面右上の「ご登録情報」にお入りいただき、 「パスワードのご変更」から変更することができます。</dd>
						</dl>

						<h2 id="q03">注文について</h2>
						<dl class="ac">
							<dt>注文履歴を確認したい</dt>
							<dd>
								マイページにログイン頂きますと購入履歴より、ご注文詳細のご確認が可能でございます。<br>トップページ画面右上の「ご登録情報」にお入りいただき、「お買い物状況」の「購入履歴のご確認」にてご確認ください。
							</dd>
							<dt>発送状況を確認したい</dt>
							<dd>マイページで確認できます。</dd>
							<dt>注文を変更したい</dt>
							<dd>
								ウェブサイトから商品を変更することはできません。ご注文をいったんキャンセルして頂き、改めて別の支払い方法でご購入ください。<br>注文の変更については、お電話にてお受付しておりますので、お問合せ下さい。<br>受注受付・お問合せ窓口：0120-255-288（受付時間9：00～18：00
								年末年始休業）
							</dd>
							<dt>商品をキャンセルしたい</dt>
							<dd>
								トップページ画面右上の「ご登録情報」にお入りいただき、「お買い物状況」の「購入履歴のご確認」に入っていただきます。<br>
								ご注文の状態によって、キャンセルできるかどうかがわかります。<br>
								<br>出荷準備中：発送の準備をしている段階です。ご注文のキャンセルが可能です。
								「購入履歴一覧」の「詳細」ボタンより、キャンセル手続きをお願い致します。<br>出荷対応中：倉庫より、発送の処理をしています。ご注文キャンセルはできません。<br>出荷完了：倉庫より、発送済みとなります。ご注文キャンセルはできません。<br>
								<br>購入履歴詳細ページよりキャンセルが出来ない場合、お手数ですが、お電話にてキャンセルのお手続きをお願い致します。<br>
								<br>受注受付・お問合せ窓口：0120-255-288（受付時間9：00～18：00 年末年始休業）
							</dd>
							<dt>予約商品と既発売商品を別々で発送してほしい</dt>
							<dd>予約商品と既発売商品を一緒に購入されると、まとめての発送となります。別送をご希望の場合、ご注文は別々に行ってください。</dd>
							<dt>ラッピングできますか？</dt>
							<dd>ラッピングは無料で承っております。尚、ラッピングの種類やお色をお選びいただくことはできません。また、メッセージカードやのしの対応は行っておりません。予めご了承ください。</dd>
							<dt>注文確認メ－ルはどんなアドレスから送られますか</dt>
							<dd>弊社ウェブサイトからのメールは、 「@nhk-ep.co.jp」を受信許可設定頂けますと受信して頂けます。</dd>
							<dt>お届けまでにかかる日数は？</dt>
							<dd>ご注文確認後、通常５営業日以内に発送いたします。
								お取り寄せの場合や、ご注文が集中したり在庫が切れた場合は、2週間以上かかることもございます。予めご了承ください。</dd>
							<dt>配送途中の事故による破損があった場合は？</dt>
							<dd>送料負担にてお取り替え、もしくは返品に応じます。</dd>
							<dt>商品の受取可能期間を過ぎた場合は？</dt>
							<dd>
								出荷後、受取可能期間を過ぎたご注文は、キャンセルとなります。お手数ですが、再度のご注文をお願い致します。<br>長期不在の場合は、佐川急便営業所の保管期限終了後、キャンセルさせていただきます。<br>住所不明の場合は、荷物が戻り次第、キャンセルさせていただきます。
							</dd>
							<dt>海外販売は行っていますか？</dt>
							<dd>掲載している商品は、著作権等の事由により日本国内のみの販売となります。日本国外からのご注文および、国外への発送につきましてはお受けできませんので、あらかじめご了承ください。</dd>
							<dt>消費税総額表示 （税込み価格表示と精算代金の差異について ）</dt>
							<dd>当ウェブサイトで表示の価格は、消費税を含む総額表示となっております。税額を計算する際に円未満の端数が生じ、精算代金が表示価格を下回る場合がございますが、何卒ご了承くださいますようお願い申し上げます。</dd>
						</dl>

						<h2 id="q04">頒布会について</h2>
						<dl class="ac">
							<dt>頒布会の初回号は、どの号が届きますか？</dt>
							<dd>頒布会の到着号について、「日本の世界遺産」は、1号を初回お届け号とし、以降1ヶ月ごとに次の号をお届けします。「落語名人寄席」「新・落語名人寄席」「花紀行」「さわやか自然百景」は、お届けする月の号(1月であれば1月号)を初回お届け号とし、以降1ヶ月ごとに次の号をお届けします。</dd>
							<dt>頒布会商品が届きません</dt>
							<dd>トップページ画面右上の「ご登録情報」にお入りいただき、「頒布会のご確認」に入っていただきますと、頒布会商品の配送状況のご確認が頂けます。現金一括前払いの場合は、入金確認後の発送になります。</dd>
							<dt>商品代金全額を一括で支払うので、12か月分一括で送っていただけますか？</dt>
							<dd>頒布会商品は、支払い方法に関わらず毎月ごとの配送とさせて頂いております。何卒ご了承ください。</dd>
						</dl>


						<h2 id="q05">お支払いについて</h2>
						<dl class="ac">
							<dt>商品の支払い方法を変更したい</dt>
							<dd>ウェブサイトから支払い方法を変更することはできません。ご注文をいったんキャンセルして頂き、改めて別の支払い方法でご購入ください。</dd>
							<dt>ポイントはどのように付与されますか？</dt>
							<dd>ファミリー倶楽部WEBサイトでお買い物されると、税込価格100円毎に1ポイントが、出荷完了時に付与されます。貯まったポイントは次回以降のお買い物時にご利用いただけます。商品の最終出荷日から1年を経過すると、ポイントは消滅します。</dd>
							<dt>ポイントの使用方法は？</dt>
							<dd>貯まったポイントは次回以降のショッピングで1ポイント＝1円値引きとしてご利用いただけます。ご注文手続き時に「今回ご利用するポイント」を画面に入力してください。100ポイント以上からご利用頂けます。</dd>
							<dt>割引クーポンはどのように付与されますか？</dt>
							<dd>会員登録の際にメールマガジンをご登録いただいた方に、割引クーポンをお付けすることがあります。会員登録時に、メールマガジンにチェックを入れてください。クーポンの割引金額は、「ご登録情報」にてご確認いただけます。</dd>
						</dl>

						<h2 id="q06">返品・交換・不良品対応について</h2>
						<dl class="ac">
							<dt>不良品だったのですが、交換していただけますか？</dt>
							<dd>
								商品の不良についてのお問い合わせはこちら<br>テクニカルサポートセンター：0120-172-706
								(受付時間10：00～18：00 土日祝休業)
							</dd>
							<dt>返品したい</dt>
							<dd>
								商品到着後、8日以内のお申し出かつ未開封のみ返品受付しております。<br>受注受付・お問合せ窓口：0120-255-288（受付時間9：00～18：00
								年末年始休業）
							</dd>
							<dt>返金時期はいつですか？</dt>
							<dd>
								商品を返送頂き、弊社倉庫へ返送商品が到着次第、返金のお手続きを致します。<br>受注受付・お問合せ窓口：0120-255-288（受付時間9：00～18：00
								年末年始休業）
							</dd>
						</dl>

						<h2 id="q07">書類発行について</h2>
						<dl class="ac">
							<dt>領収証発行できますか？</dt>
							<dd>
								承ります。<br>領収証に記載の宛名、但書き、領収証発送先住所を弊社受注センターまでメールもしくはお電話にてご連絡ください。<br>
								尚、但し書きにつきましては記載箇所に限りがあります為、商品名での記載をご遠慮頂いております。
							</dd>
							<dt>請求書発行できますか？</dt>
							<dd>
								承ります。<br>請求書に記載の宛名、但書き、発送先住所を弊社受注センターまでメールもしくはお電話にてご連絡ください。<br>
								尚、代表印押下の書類を希望の場合は、そちら併せてご連絡下さい。
							</dd>
							<dt class="open">納品書発行できますか？</dt>
							<dd style="display: block;">
								承ります。<br>
								納品書に記載の宛名、但書き、発送先住所を弊社受注センターまでメールもしくはお電話にてご連絡ください。<br>
								尚、代表印押下の書類を希望の場合は、そちら併せてご連絡下さい。
							</dd>
							<dt class="open">見積書発行できますか？</dt>
							<dd style="display: block;">
								承ります。<br>
								見積書に記載の宛名、但書き、発送先住所を弊社受注センターまでメールもしくはお電話にてご連絡ください。<br>
								尚、代表印押下の書類を希望の場合は、そちら併せてご連絡下さい。
							</dd>
						</dl>

						<h2 id="q08">その他のお問合せ</h2>
						<dl class="ac">
							<dt class="open">番組についてのご意見・ご要望は</dt>
							<dd style="display: block;">
								ふれあいセンターにて承っております。<br> 0570-066-066（営業時間：9：00～22：00）<br>
								※ナビダイヤルをご利用頂けない場合は、050-3786-5000へおかけください。
							</dd>
							<dt class="open">受信料について問い合わせたい</dt>
							<dd style="display: block;">
								NHK受信料窓口にて承っております。<br> 0570-077-077（受付時間9：00～18：00）
							</dd>
							<dt>ネット配信サービスはありますか？</dt>
							<dd>
								インターネット配信サービスについてはNHKオンデマンドお問合せ窓口へお問合せ下さい。<br>
								NHKオンデマンド：0570-083-333 (受付時間9:30~22:00)
							</dd>
							<dt>専用プレイヤー以外の端末からのご視聴について</dt>
							<dd>ブルーレイディスク、DVDの視聴には、それぞれ専用プレイヤー等が必要となります。専用プレイヤー以外の端末からのご視聴につきましては、端末のメーカーにお問合せください。</dd>
							<dt>カタログを請求したいのですが</dt>
							<dd>
								<a href="https://www.nhk-ep.com/catalog/" target="_blank">カタログの請求はこちらから</a>
							</dd>
							<dt>商品ごとにまとめられたカタログは請求できますか？</dt>
							<dd>商品ごとにまとめたカタログは用意しておりません。恐れ入りますが、ウェブサイトの各商品詳細ページにて内容をご確認ください。</dd>
							<dt>カタログが届きません</dt>
							<dd>カタログは隔月での発送となるため、ご請求からお届けまでしばらくお待ちください。ご請求から2ヶ月以上経過している場合、恐れ入りますが、弊社受注センターまでメールもしくはお電話にてご連絡ください。</dd>
							<dt>ウェブサイトの推奨環境は？</dt>
							<dd>
								当ショップをご利用いただく際は、以下環境でのご利用を推奨いたします。以下の推奨環境以外では、ご利用できない場合や正しく表示されない場合があります。<br>
								<br> 【PC】（OS：Windows7）<br> InternetExplorer8<br>
								Firefox17.0<br> GoogleChrome23.0<br>
								<br> 【スマートフォン】<br> Android Ver2.3.3 標準ブラウザ<br>
								iOS Ver5.11 標準ブラウザ
							</dd>
						</dl>


					</div>
				</div>

			</div>

		</div>
	</div>
</section>


{% endblock %}

